-[["",@qualified],["Missed Cut", @not_qualified], ["Withdrawn",@withdrawn]].each do |title, matches|
  %h5=title
  %table.minimalist-table.plain-table.clear
    %thead
      %tr
        %th.left{:title=>"Position"} Pos.
        %th.left{:title=>""} Name
        -1.upto(@event.total_number_of_rounds).each do |i|
          %th.left{:title=>""}=i
        %th.left{:title=>""} Total
        %th.left{:title=>""} Strokes
        %th.left{:title=>""} Scorecard
    %tbody
      -(matches || []).each do |match|
        %tr
          %td.left=match.match_player.formatted_place
          %td.left
            =match.player.full_name
            -((match.rounds || []).length < @event.total_number_of_rounds ? @event.total_number_of_rounds : (match.rounds || []).length).times do |index|
              -if(match.rounds[index].blank?)
                %td.left -
              -else
                %td.left=(match.rounds[index].try(:score).blank? ? (match.rounds[index].tee_time.to_s(:basic_time) unless match.rounds[index].try(:tee_time).blank?) : match.rounds[index].try(:score)).with_default("--")
          %td.left=match.score_total.with_default("--")
          %td.left=match.total_strokes.with_default("--")
          / %td.left=link_to("Scoring", leaderboard_scorecard_path('pga', @event, match))
          %td.left=link_to("Scoring", "/pga/leaderboards/#{@event.id}/scorecard/#{match.id}")
.legend
  * Wins in Playoff
